.green {
	color: #3caa3c !important;
}

.yellow {
	color: yellow !important;
}

.red {
	color: red !important;
}

.orange {
	color: orange !important;
}

.slidev-page {
	width: 98%;
}

:root {
	--slidev-code-font-size: 1rem;
	--slidev-code-line-height: 1.5rem;
}

.slidev-layout blockquote {
	padding-left: 1rem;
	padding-right: 1rem;
}

.block {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0.5rem 1rem;
	border-radius: 0.5rem;
	background: rgba(0, 0, 0, 0.9);
}
